.bod{
    background-color: paleturquoise;
}
.clas1{
    text-align: center;
    margin: 45;
    font-family: 'Times New Roman';
}
#clas2{
    font-family: 'Times New Roman';
}
#class2{
    font-family: 'Times New Roman';
}
th{
    font-family: 'Times New Roman';
    font-size: 18px;
}
td{
    font-family: 'Times New Roman';
}
