body{
    background-color:honeydew;
    /*background-image: url(projet5.jpg);*/
    
}
.clas1{
    text-align: center;
    margin: 300;
    font-family: 'Times New Roman';
}
#clas2{
    font-family: 'Times New Roman';
}
#class2{
    font-family: 'Times New Roman';
}

